# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.pytest_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Data
data/checkpoints/*
data/output/*
data/local/*
*.csv
*.parquet

# Logs
*.log
logs/

# Environment
.env
.env.local
infra/cloud/.env.cloud

# Docker
docker-compose.override.yml
apps/dashboard/frontend/node_modules/
apps/dashboard/frontend/dist/

# macOS
.DS_Store

# AWS
.aws/

# Spark
spark-warehouse/
metastore_db/
derby.log

.bruin.yml
logs/runs
logs/*.log

# Terraform
infra/cloud/terraform/.terraform/
infra/cloud/terraform/.terraform.lock.hcl
infra/cloud/terraform/terraform.tfstate
infra/cloud/terraform/terraform.tfstate.*
infra/cloud/terraform/terraform.tfvars
